image: "golang:1.17"
# be careful
token: Your personal token
baseUrl: https://gitlab.com
branchPrefix: testGo1.17/
userEmail: chengshidaomin@gmail.com
userName: csdaomin
commitMsg: update ci file
repositories:
  - name: test1
    url: https://gitlab.com/sgshopeefy/hello-module
    versions:
      - v1.0.0